name: "build-mobile"
on: workflow_dispatch
jobs:
    build-mobile:
        runs-on: macos-latest
        environment: Mobile Build
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Setup Homebrew
              uses: Homebrew/actions/setup-homebrew@main

            - name: Install Homebrew dependencies
              run: brew install cocoapods openjdk@17

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: >
                      aarch64-apple-ios
                      aarch64-linux-android
                      armv7-linux-androideabi
                      i686-linux-android
                      x86_64-linux-android

            - name: Install Snacker dependencies
              run: deno install

            - name: Create .env
              run: |
                  cat <<EOF > .env
                  PUBLIC_SUPABASE_URL=${{ secrets.PUBLIC_SUPABASE_URL }}
                  PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=${{ secrets.PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY }}
                  EOF

            - name: Regenerate iOS project
              env:
                  CI: "true"
              run: |
                  rm -rf src-tauri/gen/apple
                  deno task tauri ios init
                  ls -al src-tauri/gen/apple

            - name: Build unsigned iOS .xcarchive
              env:
                  CI: "true"
              run: |
                  mkdir -p src-tauri/gen/apple/build
                  APP_NAME="snacker"
                  SCHEME="${APP_NAME}_iOS"
                  PROJECT="src-tauri/gen/apple/${APP_NAME}.xcodeproj"
                  ARCHIVE_PATH="src-tauri/gen/apple/build/App.xcarchive"
                  xcodebuild archive \
                  -project "$PROJECT" \
                  -scheme "$SCHEME" \
                  -archivePath "$ARCHIVE_PATH" \
                  -configuration release \
                  -destination "generic/platform=iOS" \
                  CODE_SIGNING_REQUIRED=NO \
                  CODE_SIGNING_ALLOWED=NO
                  ls -la "src-tauri/gen/apple/build/" || true

            - name: Convert .xcarchive to .ipa
              run: |
                  mkdir src-tauri/gen/apple/build/Payload
                  cp -R src-tauri/gen/apple/build/App.xcarchive/Products/Applications/*.app src-tauri/gen/apple/build/Payload/
                  zip -r src-tauri/gen/apple/build/App.ipa src-tauri/gen/apple/build/Payload

            - name: Upload .xcarchive as workflow artifact
              uses: actions/upload-artifact@v6
              with:
                  name: Snacker-ios-aarch64-xcarchive
                  path: src-tauri/gen/apple/build/App.xcarchive
                  if-no-files-found: ignore

            - name: Upload .ipa as workflow artifact
              uses: actions/upload-artifact@v6
              with:
                  name: Snacker-ios-aarch64-ipa
                  path: src-tauri/gen/apple/build/App.ipa
                  if-no-files-found: ignore

            - name: Install Android CMD tools
              run: brew install --cask android-commandlinetools

            - name: Install Android SDK + NDK
              run: |
                  yes | sdkmanager --licenses
                  sdkmanager \
                  "platform-tools" \
                  "platforms;android-36" \
                  "build-tools;36.1.0" \
                  "ndk;29.0.14206865"

            - name: Decode Android Keystore
              run: |
                  base64 -d <<< "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" > src-tauri/gen/android/app/release-keystore.jks
                  cksum src-tauri/gen/android/app/release-keystore.jks

            - name: Create keystore.properties
              run: |
                  cat <<EOF > src-tauri/gen/android/keystore.properties
                  password=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
                  keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}
                  storeFile=release-keystore.jks
                  EOF

            - name: Build Android
              uses: tauri-apps/tauri-action@dev
              with:
                  mobile: android
                  uploadWorkflowArtifacts: true
                  workflowArtifactNamePattern: "[name]-android-[arch]-[bundle]"
